<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="src/View/css/perfil.css">
  <link rel="stylesheet" href="src/View/css/adicionar.css">

</head>



<body>
  <div class="nav-container">
    <h1>{{pagina}}</h1>
    <nav>
      <a href="adicionar">Adicionar</a>
      <a href="vizualizar">Vizualizar</a>
      <button id="btn-perfil">Perfil</button>
    </nav>
  </div>

  <header>
    <section class="perfil">
      <h1>Perfil</h1>
      <p>Nome</p>
      <h2>{{nome}}</h2>
      <p>Email</p>
      <h2>{{email}}</h2>
      <p>Senha</p>
      <h2>{{senha}}</h2>

      <button>sair</button>
    </section>

    <section>
      <div class="tarefa-add">
        <input type="text" name="" id="tarefaVlr" placeholder="Digite Sua tarefa">
        <button onclick="adicionarTarefa()" id="adicionar">Adicionar</button>
      </div>


      <section class="tarefaLista">
        <!-- local das tarefas -->
      </section>
  </header>
  <script type="module" src="./src/model/profileToggle.js"></script>
</body>

</html>