<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/lista_tarefa/src/View/css/home.css">
</head>

<body>
  <nav>
    <a href="login">login</a>
    <a href="cadastro">Cadastro</a>
  </nav>
  <div>
    <h1>Seja Bem Vindo!</h1>
    <p>Clique em Cadastrar ou Login <br> para entrar na sua conta e adicionar novas tarefas!</p>
  </div>
</body>

</html>