body {
  background: #000 !important;
}
.perfil {
  display: none;
}

.perfil.show {
  display: flex;
  /* flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 75vw;
  background-color: #000;
  color: #fff;
  padding: 40px;
  border-radius: 10px; */
}
